.col-6
  %h1 New Contact
.col-6
  = form_for :contact, url: contacts_path  do |f|
    %p
      = f.label :first_name
      %br/
      = f.text_field :first_name
    %p
      = f.label :last_name
      %br/
      = f.text_field :last_name
    %p
      = f.label :phone_number
      %br/
      = f.number_field :phone_number
    %p
      = f.submit
